*{
  margin: 0;
  padding: 0;

}

.container{
  display:block; 
  margin: 30px;
  padding: 20px;
  position: relative;

}
.btn-m1{
  box-sizing: border-box;
  border: 1px solid black;
  height: 20px;
  width: 50px;
  margin: 10px;
}
.btn-m2{
  box-sizing: border-box;
  border: 1px solid black;
  height: 20px;
  width: 50px;
}


.count{
  margin-left:250px;
  height: 100px;
  width: 150px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  position: absolute;
  font-size: large;
  background-color: rgba(128, 128, 128, 0.356);
  border-radius: 5px ;
}




.btn-1{
  box-sizing: border-box;
  border: 1px solid red;
  margin: 25px;
  padding: 7px;
  cursor: pointer;
  
}
.btn-2{
  box-sizing: border-box;
  border: 1px solid red;
  margin: 25px;
  padding: 7px;
  cursor: pointer;

}
.btn-3{
  box-sizing: border-box;
  border: 1px solid red;
  margin: 25px;
  padding: 7px;
  cursor: pointer;

} 

.price{
  display: flex;
border: 1px solid black; 
width: 150px;
height: 50px;
align-items: center;
justify-content: center;
margin-left: 260px;
background-color: rgba(128, 128, 128, 0.356);
border-radius: 5px;

}